.NavButton {
    font-size: 2vh;
    font-weight: bold;
    color: black;

    border: solid;
    border-radius: 1vh;

    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;

    margin-left:1vh;
    margin-right:1vh;
}

.NavButton:hover {
    border-color: black;
    background-color: black;
    color:white;
}